@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prata&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

.active{
  background-color: #ffebff;
  border-color: #c586A5;
}

*{
  /* font-family:  "Montserrat", sans-serif; */
  /* font-family: "Outfit"; */
   font-family: "Outfit", sans-serif;


}
select,input,textarea{
  border:1px solid #c2c2c2;
  outline-color:#c586A5 ;
  border-radius: 4px;
}

